body{
  background: black;
}
.login{
margin: 0 auto;
width: 200px;
border: 1px solid purple;
padding: 10;
box-shadow: 0px 0px 5px purple;
}

.login__user,
.login__pass{
box-sizing: border-box;
width: 100%;
border: 1px solid purple;
border-bottom: 1px solid purple;
margin-bottom: 15px;
color: white;
background: none;
padding: 10;
box-shadow: 0px 0px 5px purple;
}

.login__pass{

}

.login__submit{
width: 100%;
background: purple;
color: white;
border: 0;
border-radius: 5px;
padding: 10px;
}
