
body{
background: url('http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png')
}
.navbar-default .navbar-nav > li > a {
color: purple;
}
.navbar-header .navbar-brand {
  color: purple;
}
.btn-default{
  color: purple;
  background-color: gray;
}

#bs-example-navbar-collapse-1 > ul > li.active > a{
color: purple;
background-color: gray;
}

#inicio{
text-align: center;
color: purple;
}
#porque{
background-color: #411a4b;
color: white;
}

#como{
background-color: #434343;
font-size: 15px;
color: white;
}

#serv{
background-color: #411a4b;
color: white;
}

#contacto{
text-align: center;
background: url('http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png');
}
#contacto .fa{
border: 2px green solid;
border-radius: 50%;
font-size: 40px;
color: green;
padding: 10px 15px;
margin: 20px;
border-bottom: 4px purple solid;
background: rgba(255, 255, 255, 0.5);
font-size: 20px;
color: purple;
}

#registro{
text-align: center;
font-size: 10px;
color: green;
}
