body{
  background: black;
}
.Register{
margin: 0 auto;
width: 200px;
border: 1px solid purple;
padding: 10;
box-shadow: 0px 0px 5px purple;
animation: sombreado 5s infinite;
}
@keyframes sombreado {
  50%{
    box-shadow: 0 0 30px green;
  }
}

.user,
.pass{
box-sizing: border-box;
width: 100%;
border: 1px solid purple;
border-bottom: 1px solid purple;
margin-bottom: 15px;
color: white;
background: none;
padding: 10;
box-shadow: 0px 0px 5px purple;
}

.e-mail{
  box-sizing: border-box;
  width: 100%;
  border: 1px solid purple;
  border-bottom: 1px solid purple;
  margin-bottom: 15px;
  color: white;
  background: none;
  padding: 10;
  box-shadow: 0px 0px 5px purple;
}

.nombre{
  box-sizing: border-box;
  width: 100%;
  border: 1px solid purple;
  border-bottom: 1px solid purple;
  margin-bottom: 15px;
  color: white;
  background: none;
  padding: 10;
  box-shadow: 0px 0px 5px purple;
}

.submit{
width: 100%;
background: purple;
color: white;
border: 0;
border-radius: 5px;
padding: 10px;
}
